.cart {
    background-color: #f9c06abc;
    padding: 25px;
    text-align: center;
    position: sticky;
    top: 0;
  
}

.check-out {
    background-color: rgba(0, 128, 0, 0.671);
    padding: 10px;
    width: 100%;
    font-size: large;
    color: white;
    border-radius: 10px;
    border-style: none;
}