.product {
  position: relative;
  width: 300px;
  height: 550px;
  border: 1px solid rgb(208, 204, 204);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-cart {
  width: 100%;
  position: absolute;
  font-size: larger;
  font-weight: 800;
  font-family: sans-serif, serif;

  bottom: 0px;
  left: 0px;
  padding: 10px;
  background-color: rgb(242, 200, 94);
}

.btn-cart:hover {
  background-color: gold;
}

.product-info {
  text-align: center;
}

.icon{
    margin-left: 10px;
}
